@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light mode defaults */
html {
  @apply bg-white text-black;
}

/* Dark mode overrides */
html.dark {
  @apply bg-gray-900 text-white;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; /* Notion-like font stack */
}

a {
  text-decoration: none;
  color: inherit;
}

